

*{margin:0;padding:0;}


 .navbar-inverse {
    background-color: #0f006f;
    border-color: #030033;
}

body{
  background:#567;
  font-family:'Open Sans',sans-serif;
}



.button:hover{
  background:#2288bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
    
}



#login h1{
   
  background:teal;
  padding:20px 0;
  font-size:140%;
 font-weight:bold;
  text-align:center;
  color:#fff;
    
    
}

form{
  width:35%;
  background:#f0f0f0;
  padding:20px 0;
  margin-left: 33em;
  margin-right: 33em;
   
  
    
    
}

input[type="text"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:-5%;
    font-weight: bold;
    margin-left: 1em;
    <!--
  border:1px solid #ccc;
  padding:2%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
    -->
}

input[type="submit"]{
  width:30%;
  background:#3399cc;
  border:0;
  padding:2%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}